.demo-btn {
    border: 1px #1b75bb solid;
    color: #1b75bb;
    transition: background-color 0.3s ease;
}
  
.demo-btn:hover {
background-color: #1b75bb;
color: #ffffff; /* Change the text color on hover if needed */
}

.formreduis {
    border-radius: 3px;
}
  



/*  */

/* Taille de police par défaut */
/* .custom-email {
    font-size: 10px; 
} */

/* Media query pour ajuster la taille de la police sur vue mobile */
/* Ajustez la taille de la police pour la vue mobile */
@media (max-width: 767px) {
    .custom-email {
        font-size: 12px; 
    }
}

@media (max-width: 767px) {
    .custom-contact {
        font-size: 12px; 
    }
}

@media (max-width: 767px) {
    .imgcenter {
        text-align: center;
        justify-content: center;
        display: flex;
    }
}


